.about-us {
  margin-top: 100px;
  padding: 20px;
  background-color: white;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.about-content {
  flex: 1;
  color: black;
  margin: 0;
  text-align: center;
}

.about-content h2 {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.993);
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.2rem;
  color: #555;
  margin: 0 auto;
  max-width: 600px;
}

.about-main {
  margin: 0;
}

.about-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  margin: 20px auto;
}

.about-us-btn {
  padding: 10px 20px;
  background-color: rgba(245, 245, 190, 0.849);
  color: black;
  border: none;
  border-radius: 20px;
}

.read-more-btn {
  padding: 10px 20px;
  margin-top: 30px;
  background-color: #000000;
  color: yellow;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: rgba(30, 30, 31, 0.856);
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .about-section {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .about-content h2 {
    font-size: 2.2rem;
    text-align: left;
  }

  .about-content p {
    font-size: 1.1rem;
    text-align: justify;
  }

  .about-image img {
    max-width: 500px;
  }
}
