.about-us {
    margin-top: 50px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .about-content {
    flex: 1;
    color: white;
    margin-left: 100px;
  }

  .about-content h2 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.993);
  }
  
  .about-content p {
    font-size: 1.3em;
    color: black;
  }

  .about-image img {
    flex: 1;
    display: flex;
    border-radius: 10px;
    padding-left: 150px;
  }
  .about-us-btn {
    padding: 10px 20px;
    background-color: rgba(245, 245, 190, 0.849);
    color: black;
    border: none;
    border-radius: 20px;
  }
  .read-more-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: yellow;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .read-more-btn:hover {
    background-color: rgba(30, 30, 31, 0.856);
  }
  
  .why-choose-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .detail-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  
  .icon {
    font-size: 24px;
    color: #ffaa00;
  }
  
  .detail-item h4 {
    margin: 0;
    font-size: 18px;
  }
  
  .detail-item p {
    margin: 0;
    color: #555;
  }
  