.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(250, 249, 249, 0.664);
    margin-top: 250px;
  }
  
  .contact-info {
    flex: 1;
    padding-right: 2rem;

  }
  
  .contact-header-btn {
    background-color: rgba(245, 245, 190, 0.849);
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .contact-title {
    color: #333;
    font-size: 50px;
    margin-bottom: 1rem;
    padding-bottom: 25px;
  }
  
  .contact-description {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #555;
    padding-bottom: 25px;
  }
  
  .contact-details {
    list-style: none;
    padding: 0;
    line-height: 1.5;
    font-size: 1rem;
    color: #555;
  }
  .contact-details img {
    padding-right: 15px;
    max-width: 100%;
  }
  .contact-form {
    flex: 1;
    background-color: rgba(1, 1, 2, 0.925);
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.25rem;
  }
  
  .contact-form button {
    background-color: #ffc107;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
  }
  
  .contact-form button:hover {
    background-color: #e0a800;
  }