.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(250, 249, 249, 0.664);
    margin-top: 200px;
  }
  
  .contact-info {
    flex: 1;
    padding-right: 2rem;
    padding-left: 3rem;

  }
  
  .contact-header-btn {
    background-color: rgba(245, 245, 190, 0.849);
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .contact-title {
    color: #333;
    font-size: 50px;
    margin-bottom: 1rem;
    padding-bottom: 25px;
  }
  
  .contact-description {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #555;
    padding-bottom: 25px;
  }
  
  .contact-details {
    list-style: none;
    padding: 0;
    line-height: 1.5;
    font-size: 1rem;
    color: #1b1b1b;
  }
  .contact-details img {
    padding-right: 15px;
    max-width: 100%;
  }
  .contact-form {
    flex: 1;
    background-color: rgba(1, 1, 2, 0.925);
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    color: #bdbbbb;
  }
  

  .contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem 0;
  margin-top: 0.5rem;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
}
  .contact-form button {
    background-color: rgb(240, 240, 8);
    color: black;
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: rgba(236, 238, 205, 0.856);
  }