.hero-section 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.055);
  background-image: url(../assets/images/background-lines.png);
  color: #fff;
  padding: 3rem 5rem;
  gap: 2rem;
  width: 100vw;
}

.hero-left 
{
  flex: 1;
  max-width: 50%;
  text-align: left;
  margin-right: 60rem;
}

.hero-left h1 
{
  font-size: 4.3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: white;
}

.hero-left p 
{
  color:white;
  font-size: 1.3em;
  margin-bottom: 2rem;
}

.hero-buttons 
{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.yellow-button 
{
  background-color: #f7c63b;
  color: #000;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.yellow-button:hover 
{
  background-color: rgba(156, 142, 142, 0.658);
}

.video-link 
{
  color: #f7c63b;
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 10;
}

.video-link:hover {
  color: rgba(156, 142, 142, 0.658);
}

.hero-stats 
{
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  margin-right: 5rem;
}

.hero-stats h3 
{
  font-size: 2.2rem;
  color: #f7c63b;
}

.hero-stats p 
{
  margin: 0;
  color: white;
}

.hero-right 
{
display: flex;
justify-content: flex-end;
align-items: center;
height: auto;
padding-left: 55rem;
margin-top: -485px;


}

.hero-right img 
{
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  height: auto;
}

.market-card 
{
  position: absolute;
  bottom: -20%;
  left: -20%;
  background-color: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 200px;
}

.market-card p 
{
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.market-card span 
{
  color: #f7c63b;
  font-weight: bold;
}

.partner-logos 
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.partner-logos img 
{
  width: 100px;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.partner-logos img:hover 
{
  transform: scale(1.1);
  opacity: 0.8;
}

