.footer {
    background-color: rgba(1, 1, 2, 0.925);
    margin-top: auto;
    height: 320px;
}


.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
    padding: 45px 20px;
  }
  
  .footer-left {
    flex: 0 0 25%;
    position: relative;
    left: -250px;
    bottom: 10px;
  }

  .footer-right {
    display: flex;
    flex: 0 0 75%;
    justify-content: space-between;
    padding-left: 300px;
  }
  
  .footer-logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .footer-logo {
    width: auto;
    height: 70px;
    margin-bottom: 10px;
    padding-left: 65px;
  }
  
  .footer-description {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 15px;
    padding-left: 35px;
  }
  
  .footer-social img {
    width: auto;
    height: 25px;
    margin-inline: 5px;
    margin-left: 33px;
    cursor: pointer;
  }
  
  
  .footer-column {
    margin-right: 36px;
  }
  
  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .footer-column ul li:hover {
    color: #ffd700;
  }

  .footer-column-contact  {
    padding-left: 40px;
  }
  .footer-column-contact h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
  }

  .footer-column-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-column-contact ul li {
    margin-bottom: 8px;
  }

  .footer-column-contact ul span {
    margin-bottom: 8px;
    font-size: 14px;
    color: #aaa;
  }

  .icon {
    width: auto;
    height: 15px;
    margin-right: 15px; 
}