.header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .logo 
  {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links 
  {
    display: flex;
    list-style: none;
  }
  
  .nav-links li 
  {
    margin: 0 15px;
  }
  
  .nav-links a 
  {
    color: #fff;
    text-decoration: none;
  }
  
  .auth-buttons button 
  {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .sign-in 
  {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .get-started 
  {
    background: #f4c10f;
    color: #000;
  }
  
  .logo img 
  {
    width: 70px;
    height: auto;
  }