.header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .logo 
  {
    font-weight: bold;
    width: auto;
  }
  
  .nav-links 
  {
    display: flex;
    list-style: none;
  }
  
  .nav-links li 
  {
    margin: 0 15px;
  }
  
  .nav-links a
  {
    color: white;
    text-decoration: none;
  }

 .nav-links a:hover {
  color: #f4c10f;
 }

  .auth-buttons button 
  {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .sign-in {
    background-color: transparent;
    color: rgba(156, 142, 142, 0.658);
    text-decoration: none;
  }
  .sign-in a {
    color: aliceblue;
    text-decoration: none;
  }
  .sign-in a:hover {
    color: #ecd269;
  }

  .get-started 
  {
    border-radius: 20px;
    background: #f4c10f;
    color: #000;
  }
  .get-started a {
    color:  black;
    text-decoration: none;
    
  }
  .get-started:hover {
    background-color: rgb(250, 250, 228);
  }
  
  .logo img 
  {
    width: 70px;
    height: auto;
  }